{% form_theme form 'form/fields.html.twig' %}

{{ form_start(form, {'method': 'POST', 'attr': {'class': 'form'}}) }}

<div class="form__row">
    {{ form_label(form.projectName, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_widget(form.projectName, {'attr': {'class': 'form__input'}}) }}
    {{ form_errors(form.projectName) }}
</div>

<div class="form__row form__row--controls">
    <input class="button" type="submit" value="Сохранить" formnovalidate>
    <a href="{{ path('task_all') }}" class="button">
        Назад
    </a>
</div>
{{ form_end(form) }}