{% extends 'layout.html.twig' %}
{% block title %}{{ project.projectName }}{% endblock %}
{% block main %}
    <h2 class="content__main-heading">{{ project.projectName }}</h2>

    {% include('form/_search.html.twig') only %}

    {% if tasks|length > 0  %}
        {% include('default/_list.html.twig') with {'tasks': tasks} only %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}